<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <title>Orwell lightweight wallet (official build)</title>
</head>

<body>

    <div id="content">



    </div>


    <script>
        var config = require('../config');
        window.$ = window.jQuery = window.jquery = require('./assets/js/jquery-3.2.1.min');
        require('./assets/js/renderer')();
    </script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>